img{
    height: 60px;
}
table{
    border: 1px solid blue;
    border-radius: 1%;
}
td, th{
    border: 1px solid blue;
    border-radius: 7%;
    width: 75px;
    height: 45px;
    text-align: center;
    font-size: 12px;
    color:  blue;
    
}
.kekebb{
    background-color: rgb(185, 186, 253);

    text-align: left ;
}
#szürkébb{
    background-color: rgb(180, 179, 179);
}
.szurke{
    background-color: rgb(223, 223, 223);
}
#pir{
    color: red;
}
.vk{
    background-color:rgb(214, 214, 254);
}
.sk{
    background-color:rgb(120, 120, 224);
}
#sk{
color: darkblue;
}